.app-footer {
	border-top: 1px solid var(--background-color-010);
	padding-top: 20px;
	width: var(--main-content-width);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

.app-footer__label {
	margin-right: 10px;
}
