.header {
	border-bottom: 1px solid var(--background-color-010);
	position: fixed;
	width: var(--main-content-width);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--background-color-000);
	z-index: 1;
}

/* START: Spinner (http://tobiasahlin.com/spinkit/) */
.header__spinner {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 5px;
	display: inline-block;
}
.header__spinner--off {
	display: none;
}
.header__double-bounce1,
.header__double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--primary-color-000);
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}
.header__double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/* END: Spinner */
