.podcast-card {
	width: 225px;
}
.podcast-card {
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 10px 10px;
	padding-bottom: 5px;
	text-align: center;
	display: block;
	margin-top: 60px;
	cursor: pointer;
	margin-bottom: 30px;
	width: 225px;
}
.podcast-card:hover {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.52);
}
.podcast-card__cover-container {
	border-radius: 50%;
	display: table;
	height: 125px;
	margin: 0 auto;
	width: 125px;
	margin-top: -61px;
}
.podcast-card__cover-image {
	border-radius: 100%;
	width: 100%;
}
