.episode-detail {
	margin: 10px;
}
.episode-detail .title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 5px;
}
.episode-detail .subtitle {
	font-style: italic;
}
.episode-detail .player audio {
	width: 100%;
}
