.episode-detail-view__title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 5px;
}
.episode-detail-view__subtitle {
	font-style: italic;
}
.episode-detail-view__player audio {
	width: 100%;
}
